<% provide(:title, 'Contact') %>
	<h1>Contact</h1>
	<p>
		This is part of the excercise 3.5
		<a href="http://railstutorial.org/">http://railstutorial.org</a>
		to create a contact page and pass the static_page_spec tests.
	</p>